# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/

# uv
.venv/

# Data and output folders (created at runtime)
Data/
Inputs/
Inferred/
ModelWeights/
Data_TMP/
ResultsVis/
CaseStudies/

# run sh files
Inference/run_inference_*
